*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
    font-size:  16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.pimage1{
    background-image: url("./images/image1.jpg");
    min-height: 100%;
    object-fit: contain;
    
}

.pimage2{
    background-image: url("./images/image2.jpg");
    min-height: 100%;
    object-fit: contain;
    
}

.pimage3{
    background-image: url("./images/image3.jpg");
    min-height: 100%;
    object-fit: contain;
    
}

.ptext{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    
}

.textbg{
    background-color: #313534;
    color:white;
    padding: 20px;
}

.pimage1,.pimage2,.pimage3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 0.2s ease-in-out;
}

.section{
    padding: 50px 80px;
    text-align: center;
}

.section-light{
    background-color: #f4f4f4;
    color:#666;

}

h2{
  margin-bottom: 20px;  
}

.section-dark{
    background-color: #666;
    color:#f4f4f4;

}

@media (min-width: 350px){
    .pimage1,.pimage2,.pimage3{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: all 0.2s ease-in-out;
    }
    .ptext{
        font-size: 17px;
        letter-spacing: 3px;
        text-transform: uppercase;   
    }
    .section{
        padding: 20px;
        text-align: center;
        font-size: 12px;
        
        
    }

    
}